body {
    margin: 0; 
    /* padding-top: 6rem;
    background-image: url();
    background-size: cover; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/* .nav{
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 1em 1em;
    z-index: 1;
} */
.nav-pills {
    
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 1em 1em;
    z-index: 1;
}


.nav-item {

}
/*
Where do I put this CSS Variables part for hte nav bar elements?
    --#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
    --#{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
    --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};
    */

.nav-link {
  color: black;
}

#store-link {
    
}

#display {
    
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    margin-top: auto;
    text-align: center;
    padding: 5px 8px;
    font-size: small;
}