body {
    margin: 0; 
    padding-top: 5rem;
    /*background-image: url();
    background-size: cover; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav-pills {
    
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 1em 1em;
    z-index: 1;
}


.nav-item {

}


    #{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
    #{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
    #{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};
   

.nav-link {
    color: black;
}

#store-link {
    
}

#display {
    
    text-align: center;
    /* margin-top: 30px; */
    margin: 30px 0px 8px 8px;
    flex-wrap: wrap;
    
}

.card {
}

footer {
    background-color: black;
    color: white;
    margin-top: auto;
    text-align: center;
    padding: 5px 0px;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
}